<div id="footer">
	<div class="footer-inner">
		<div class="foot-links">
			<!-- footer nav -->
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About Us</a></li>
				<li><a href="services/services-overview.html">Services</a></li>
				<li><a href="contact.html">Contact Us</a></li>
				<li id="social-facebook"><a href="#">Facebook</a></li>
				<li id="social-twitter"><a href="#">Twitter</a></li>
				<li id="social-youtube"><a href="#">YouTube</a></li>
			</ul>
			<!-- // footer nav -->
		</div>
		<p class="copyright">
		<p>&copy; {{ site.time | date: '%Y' }} Global Focus, LLC.</p></p>
	</div>
</div>