  <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
<title>Home</title>
<meta content="IE=EmulateIE7" http-equiv="X-UA-Compatible"/>
<link type="text/css" href="static/StyleSheets/ModuleStyleSheets.css" rel="StyleSheet"/>
<script type="text/javascript">var jslang = 'EN';</script>
<link type="image/x-icon" href="/static/favicon.ico" rel="Shortcut Icon"/>
<link media="screen" href="/static/styles/screen.css" type="text/css" rel="stylesheet"/>
<link media="print" href="/static/styles/print.css" type="text/css" rel="stylesheet"/>
<link media="screen" href="/static/styles/nivo-slider.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript">var jslang = 'EN';</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
<script type="text/javascript" src="/static/javascript/scripts.js"></script>
<script type="text/javascript" src="/static/javascript/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript" src="/static/javascript/Java_DynMenusSelectedCSS.js"></script>
<script type="text/javascript">document.documentElement.className += " js";</script>
<script type="text/javascript">
	if ('desktop' == 'phone') {
		window.location = '/mobile/';
	}
</script>
<script type="text/javascript">
	$(window).load(function () {
		$('#slideshow').nivoSlider({
			animSpeed: 500, // Slide transition speed
			pauseTime: 8000 // How long each slide will show
		});
	});
</script>
<meta content="text/css" http-equiv="content-style-type"/>
<!--[if lt IE 9]><script type="/text/javascript" src="/static/javascript/roundies.js"></script>
	<![endif]-->